I...I... huh. Something went wrong here. Look for obvious things, like potentially invalid data, and try again. If it still happens, lodge an issue at
%a{:href => "https://github.com/joshmcarthur/monit-monit/issues"} the issue tracker
\.

