%form{:action => "/cluster", :method => :post}
  .clearfix
    %label{:for => "cluster_name"} Name
    .input
      %input{:type => "text", :name => "cluster[name]", :id => "cluster_name"}
  .clearfix
    %label{:for => "cluster_monit_url"} Monit URL
    .input
      %input{:type => "text", :name => "cluster[monit_url]", :id => "cluster_monit_url"}
  .actions
    %input.btn.primary{:type => "submit", :value => "Add Cluster"}
    %input.btn{:type => "reset", :value => "Cancel"}

%table{:class => "common-table zebra-striped"}
  %thead
    %tr
      %th Cluster ID
      %th Cluster Name
      %th Cluster URL
      %th
  %tbody
    - @clusters.each do |cluster|
      %tr
        %td= cluster.id
        %td= cluster.name || "[Not given]"
        %td= cluster.monit_url
        %td.delete-wrapper
          %form{:action => "/cluster/#{cluster.id}/delete", :method => :post}
            %button.btn.danger{:type => "submit"} Delete

