%form{:action => "/servers", :method => :post}
  .clearfix
    %label{:for => "server_name"} Name
    .input
      %input{:type => "text", :name => "server[name]", :id => "server_name"}
  .clearfix
    %label{:for => "server_url"} Monit URL
    .input
      %input{:type => "text", :name => "server[url]", :id => "server_url"}
  .actions
    %input.btn.primary{:type => "submit", :value => "Add Server"}

%table{:class => "common-table zebra-striped"}
  %thead
    %tr
      %th Server ID
      %th Server Name
      %th Server URL
      %th
  %tbody
    - @servers.each do |server|
      %tr
        %td= server.id
        %td= server.name || "[Not given]"
        %td= server.url
        %td.delete-wrapper
          %form{:action => "/servers/#{server.id}/delete", :method => :post}
            %button.btn.danger{:type => "submit"} Delete

