div.topbar-wrapper { position: relative; height: 40px; margin: 5px -10px 15px; width: 960px; }
div.topbar-wrapper .topbar { position: static; }
div.row { margin-left: 0px; }
.row .span16 { margin-left: 0px !important; }
.row .span8.columns.processes { margin-left: 0px; }
.row .span8.columns.filesystems, .row .span8.columns.hosts { width: 459px; border-right: solid 1px #999; }

div.topbar-wrapper .topbar .fill { padding-left: 20px; padding-right: 20px;  height: 40px; }

html, body { background-color: #EFEFEF !important; }
div.container { background: #FFF; border-left: solid #999 1px; border-right: solid #999 1px; padding: 10px 10px; border-bottom: solid 1px #999;}

section.server header.actions { padding-left: 20px; }
section.server header.actions h2 { background: url(../images/server.png) no-repeat 10px 50%; padding-left: 50px; }
section.server { border-left: solid 1px #DDD; border-right: solid 1px #DDD; border-bottom: solid 1px #DDD; width: 940px; }
section.server div.row .span4.columns { width: 215px; }

h2.uptime { font-size: 250%; margin-top: 40px; }
section.server a.large { margin-top: 20px; line-height: 50px; width: 150px; text-align: center; font-size: 24px; }
.span8.columns.filesystems h4 { background: #DDD url(../images/disk.png) no-repeat 10px 50%; padding-left: 50px; }
.span8.columns.processes h4 { background: #DDD url(../images/processes.png) no-repeat 10px 50%; padding-left: 50px; }
.span8.columns.hosts h4 { background: #DDD url(../images/hosts.png) no-repeat 10px 50%; padding-left: 50px; }

table tbody td.empty-table { background: #DDD; text-align: center; font-style: italic;}

table tbody td.delete-wrapper form { margin: 0; float: right; }
section.server header section.about { padding-left: 50px; }

