.container-fluid #main .content { min-width: 95%; width: 95%; margin-left: auto; margin: auto; }
#welcome { display: none; }

.topbar { bottom: 0px; top: auto !important; }
.topbar h3 { margin-left: 10px; }
.topbar .fill { height: 40px; }
.topbar .twipsy.goto_overview { left: 115px; }
.topbar .twipsy.goto_overview .twipsy-arrow { border-right-color: #FFF; }
.topbar .twipsy .twipsy-inner { background-color: #FFF; color: #222; }

section.server { position: relative; display: block; width: 200px; height: 300px; overflow: hidden; border: solid 1px #DDD; border-top: none; margin-top: 25px; }
section.server header.actions { margin: 0; padding: 10px; margin-bottom: 15px; background-color: #DDD; border-radius: 0px;  }
section.server #cpu_chart, section.server #memory_chart, section.server #load_chart {
  height: 40px; width: 200px; margin: 0; margin-top: -24px; margin-bottom: 10px; background-color: #EFEFEF;
}
section.server h2.uptime { font-size: 150%; width: 200px; margin: auto; text-align: center; margin: 0;}
section.server a.btn.large.success { width: 100%; border-radius: 0px; position: absolute; bottom: 0px; text-align: center; padding-left: 0px; padding-right: 0px;}

footer { margin: 0px; padding: 0px; }
footer .row { margin-bottom: 0px; position: fixed; bottom: 45px; right: 0px; }
footer .row .span8 { width: 200px; float: none; display: block; }

label.chart_label { display: block; float: none; text-align: left; margin-left: 10px; position: relative; top: 5px; }
table.chart tbody tr { display: block; width: 200px; }
table.chart tbody tr td { height: 40px; padding: 0; width: 2px; border-bottom: none;}
table.chart tbody tr td.tick { background-color: #FDDFDE; }
table.chart.load tbody tr td { width: 10px; }
